<% layout("/layouts/boilerplate") -%>

  <body>
    <div class="row mt-3">
      <div class="col-8 offset-3">
        <h3>Listings Details</h3>
      </div>
      <div class="card listing-card col-6 offset-3 ">
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing-image">
        <div class="card-body ">
          <p class="card-text">
            <b>
              <p>
                <%=listing.title%>
              </p>
            </b>
          <p>Owned by <i>
              <%=listing.owner.username%>
            </i></p>
          <p>
            <%=listing.description%>
          </p>
          <p> &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/Night</p>
          <p>
            <%=listing.location%>
          </p>
          <p>
            <%=listing.country%>
          </p>

        </div>
        <br>
      </div>

      <!-- <div class="btns">
        <% if (CurrUser && listing.owner && CurrUser._id.toString() === listing.owner._id.toString()) { %>
              <a href="/listings/<%=listing._id%>/edit" class="add-btn btn btn-dark col-1 offset-3">Edit</a>
        <br>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-dark offset-4">Delete</button>
        </form>
        <%}%>
        <form method="GET" action="/listings/<%=listing._id%>/booking" class="col-1 offset-3 text-end">
          <button class="add-btn btn btn-dark w-200">Book</button>
        </form>
      
      </div> -->
      <div class="btns col-8 offset-3">
        <% if (CurrUser && listing.owner && String(CurrUser._id)===String(listing.owner._id)) { %>
          <a href="/listings/<%= listing._id %>/edit" class="add-btn btn btn-dark col-1">Edit</a>

          <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-6">Delete</button>
          </form>
          <form method="GET" action="/listings/<%= listing._id %>/booking" class="col-8 offset-6">
              <button class="add-btn btn btn-dark">Book</button>
            </form>
          <% } 
           else {%>
            <form method="GET" action="/listings/<%= listing._id %>/booking" class="col-8 offset-8">
              <button class="add-btn btn btn-dark">Book</button>
            </form>
          <%}%>
            <!-- <form method="GET" action="/listings/<%= listing._id %>/booking" class="col-8 offset-8">
              <button class="add-btn btn btn-dark">Book</button>
            </form> -->
      </div>


      <div class="col-8 offset-3">
        <br>
        <% if(CurrUser){%>
          <h4>Leave a Review</h4>
          <br>
          <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
            <!-- <div class="mt-3 mb-3">
              <label for="rating" class="form-label ">Rating</label>
              <input type="range" min="1" max="5" step="1" id="rating" name="rating" class="form-range" min="0" max="5">
            </div> -->
            <div class="mt-3 mb-3">
              <label for="rating" class="form-label ">Rating</label>
              <fieldset class="starability-slot">

                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked
                  aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mt-3 mb-3">
              <label for="comment" class="form-label">Comments</label>
              <textarea name="content" id="comment" cols="30" rows="5" class="form-control" required></textarea>
              <div class="invalid-feedback">Please add some comments</div>
            </div>
            <button class="btn btn-outline-dark">submit</button>
          </form>

          <br>
          <hr>
          <% } %>


            <p><b>All Reviews</b></h4>
            <div class="row">
              <% for(review of listing.reviews) {%>
                <div class="card card-review col-5 mt-3 ms-3">
                  <div class="card-body">
                    <h5 class="card-title"><i>@</i>
                      <%=review.author.username%>
                    </h5>
                    <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                    <p class="card-text">
                      <%=review.content%>
                    </p>
                    <p class="card-text">
                      <%=review.rating%>
                    </p>

                  </div>
                  <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-sm btn-dark mb-3">Delete</button>
                  </form>
                </div>
                <% } %>
            </div>
            <br>
      </div>
  </body>